body {
    background-color:#b2bec3;
    text-align: center;
    padding-top: 30px;
  }
  .todo {
    display: contents;
    place-items: center;
    align-items: center;
    background-color:#6c5ce7;
  }
  #todo_input{
    width: 20rem;
    height: 2rem;
    border-radius: 10px;
    border-style: none;
    font-size: 1rem;
    text-indent: 20px;
    border:2px solid #6c5ce7;
  }
  #btn_add{
    border-radius: 10px;
    width: 6rem;
    height: 2rem;
    /* border-style: none; */
    /* background-color: transparent; */
    color: black;
    font: bolder;
    font-size: 0.875rem;

  }
  .btn{
    background-color: #2ed573;
  }
  #list{
    font-size: 2rem;
    text-align: center;
    list-style-type: square;
  }