body{
    background-color: black;
}
h1{
    color: white;
    font-size: 3rem;
}
fieldset {
  border-radius: 2em;
  text-align: justify;
  margin-left: 100px;
  background-image: url("https://t3.ftcdn.net/jpg/02/55/81/40/360_F_255814073_eVeqoLhJQ31uBZ3fcgaaRcYgEtYDkYkF.jpg");
  font-size: 20px;
  object-fit: contain;
  color: white;
  border-color: #3498db;
}
#result {
  margin-left: 600px;
  height: auto;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 1.5rem;
  background-color:white;
  width: 8rem;
  border-radius: 10px;
  border-color: #e74c3c;
  border: 2px solid red;
}
